<!DOCTYPE html>
<html>
<head>
    <title>WebScraps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/layout.css">
</head>
    <body class="about">
        <h1>About Me</h1>
        <p>
            For inquiring professionals:
            This is one of the two web projects that I have created. For this one I scrapped
            the Gutenberg website for their free ebooks by requesting the url and placing a number
            into the url and looping through it. In total there are 75,744 books with their own pages.
            I took a handful of them and displayed them on my webpage which was created using Flask,
            CSS3, HTML5, and of course Python3. It took a lot of trail in error, but it got done in
            with 6 hours. If this interests you then scroll down to my profiles and take a look at my 
            skillset. I look forward to the possibility of working with you. Have a good one!
            <br>
            
        </p>
        <p>Check me out on <a href="https://www.linkedin.com/in/ja-claylyn-hamner-188455233">LinkedIn</a>, 
            <a href="https://www.upwork.com/freelancers/~01fb5d76176f0576fc?mp_source=share" color: green>Upwork</a> 
            or <a href="https://github.com/Clay0421" color: orange>GitHub.</a> Or click
            <a href="{{url_for('home')}}">here</a> to return home.
        </p>
        
    </body>
</html>