
<!DOCTYPE html>
<html>
    <head>
        <title>WebScraps</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/layout.css">
    </head>
    <body>
    <a href="{{url_for('about')}}">About Me</a>
    <h1>Scrapped Books</h1> 
    <table>
        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Link</th>
        </thead>
        {% for i in range(bookTitle|length)%}
        <tr>
            <td>
                {{bookTitle[i]}}
            </td>
            <td>
                {{bookAuthor[i]}}
            </td>
            <td>
                {{bookUrl[i]}}
            </td>
        </tr>
        {% endfor %} 
    </table>

    </html>
        
    </body>

